/* font-family: 'Poppins',
sans-serif; */

.container {
    width: 95%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.header {
    background-color: #f8f8f8;
}

.header .wrapper-content {
    background-color: unset;
}

.header .wrapper-content ul .nav-link {
    font-size: 13px;
    color: black;
}

.hero-wrapper {
    background-color: #f8f8f8;
}

.wrapper-content {
    background-color: #ffffff;
    width: 95%;
    margin: 0 auto;
    padding: 0px 0;
}

.hero-wrapper .row {
    align-items: center;
}

.wrapper-content {
    padding: 30px 0;
}

.hero-wrapper .wrapper-content h1 {
    font-size: calc(1.5rem + 1vw);
    font-weight: 800;
    line-height: 2.9rem;
    margin-bottom: 20px;
}

.hero-wrapper .wrapper-content p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin-bottom: 20px;
}

.hero-wrapper .wrapper-content a {
    text-decoration: none;
    padding: 20px 40px;
    font-weight: 600;
    background-color: #11e09d;
    color: white;
    display: inline-block;
}

.offer {
    font-size: 0.1px;
}

.col-lg-6 img {
    width: 100%;
}


/* features */

.features-wrapper {
    background-color: #f8f8f8;
    padding: 70px 0;
}

.features-wrapper .wrapper-content {
    background-color: #f8f8f8;
}

.features-wrapper .feature-inner {
    padding: 40px 20px 20px 0;
}

.features-wrapper .feature-inner h5 {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 0;
    line-height: 30px;
    padding-right: 40px;
}

.features-wrapper .feature-inner p {
    font-size: 0.8rem;
    line-height: 25px;
}


/* features */


/* .listing-wrapper */

.listing-wrapper h3 {
    font-weight: 700;
}

.listing-wrapper .wrapper-content a {
    font-size: 19px;
    font-weight: 600;
    color: black;
    display: inline-block;
    margin-bottom: 30px;
}

.listing-wrapper .wrapper-content .row a {
    text-decoration: none;
    color: black;
    margin: 0;
}

.listing-wrapper .wrapper-content .row .col-lg-4 {
    margin: 10px 0;
}

.listing-wrapper .wrapper-content .row .card-body {
    padding: 10px;
}

.listing-wrapper .wrapper-content .row .card {
    width: 100%;
    border: none;
    border-radius: unset;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
}

.listing-wrapper .wrapper-content .row .card-title {
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 2px solid #e8ebef;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.listing-wrapper .wrapper-content .row .card-text {
    font-size: 0.9rem;
    font-weight: 500;
}

.listing-wrapper .wrapper-content .row span {
    font-size: 0.8rem;
    font-weight: 300;
}


/* .listing-wrapper */


/* .qoutes-wrapper */

.qoutes-wrapper .qoute-content img {
    width: 8%;
    margin-bottom: 20px;
}

.qoutes-wrapper .row .col-lg-6 {
    margin: 20px 0;
}

.qoutes-wrapper .qoute-content h1 {
    font-size: calc(1.5rem + 1vw);
    font-weight: 800;
    line-height: 2.9rem;
    margin-bottom: 20px;
}

.qoutes-wrapper .qoute-content p {
    font-size: 0.9rem;
    line-height: 1.6rem;
    margin-bottom: 20px;
}

.qoutes-wrapper .row {
    align-items: center;
}

.qoutes-wrapper .wrapper-content a {
    text-decoration: none;
    padding: 20px 40px;
    font-weight: 600;
    background-color: #11e09d;
    color: white;
    display: inline-block;
}


/* .qoutes-wrapper */


/* .benefits-wrapper */

.benefits-wrapper {
    padding: 30px 0;
}

.benefits-wrapper .benefits-content h1 {
    font-size: calc(0.8rem + 1vw);
    font-weight: 800;
    line-height: 2.9rem;
    margin-bottom: 20px;
}

.benefits-wrapper .benefits-content p {
    font-size: 0.9rem;
    line-height: 2rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.benefits-wrapper .benefits-inner-wrapper .feature-inner h5 {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 10px 0;
    line-height: 30px;
    padding-right: 40px;
}

.benefits-wrapper .benefits-inner-wrapper .feature-inner p {
    font-size: 0.8rem;
    line-height: 25px;
}

.benefits-wrapper .benefits-inner-wrapper .feature-inner {
    padding: 40px 20px 20px 0;
}


/* .benefits-wrapper */


/* FAQ */

.faq-wrapper .faq-inner h1 {
    font-size: calc(0.8rem + 1vw);
    font-weight: 800;
    line-height: 2.9rem;
    margin-bottom: 20px;
}


/* FAQ */


/* logos-wrapper */

.logos-wrapper {
    padding: 70px 0;
}

.logos-wrapper .row .col-12 img {
    width: 100%;
}


/* logos-wrapper */

@media (max-width: 991.98px) {
    .listing-wrapper .wrapper-content .row .col-lg-4 {
        max-width: 50%;
    }
    .listing-wrapper .wrapper-content .row .col-lg-4 .card {
        width: 100%;
    }
    .header .wrapper-content ul .nav-link {
        padding-left: 70px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 575.98px) {
    .listing-wrapper .wrapper-content .row .col-lg-4 {
        max-width: 100%;
        margin: 10px 0;
    }
}


/* media queries */


/* general */

.sidebar-wrapper {
    background-color: #FAFAFA;
}

.sidebar-wrapper .row {
    --bs-gutter-x: none;
}

.sidebar-wrapper .bi-list {
    font-size: 2rem;
}

.sidebar-wrapper .sidebar-inner {
    padding: 20px 20px 20px 0;
    width: 100%;
}

.sidebar-wrapper .sidebar-inner img {
    width: 70%;
    padding-left: 20px;
}

.sidebar-wrapper .sidebar-content {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 99;
    box-shadow: 1px 1px 2px rgb(175, 175, 175);
}

.sidebar-wrapper .profile-image {
    display: flex;
    justify-content: center;
}

.sidebar-wrapper .profile-image .profile-inner {
    width: 70px;
    height: 70px;
    border: 2px solid #11E09D;
    margin: px;
    background-color: #ECFFF9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-items: center;
}

.sidebar-wrapper .profile-image .profile-inner .bi-camera {
    font-size: 35px;
    color: #11E09D;
}

.sidebar-wrapper .sidebar-menu-wrapper .nav-link {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 500;
    color: black;
    font-size: 14px;
}

.sidebar-wrapper .sidebar-menu-wrapper .nav-link:hover {
    color: #11e09d;
    background-color: #ECFFF9;
}

.sidebar-wrapper .topmenu .topmenuinner {
    display: flex;
    list-style: none;
}

.sidebar-wrapper .topmenu .topmenuinner .nav-link {
    color: black;
    padding-top: 20px;
    font-size: 13px;
}


/* CONTENT */

.main-wrapper {
    padding: 50px 0;
    background-color: #FAFAFA;
}

.main-wrapper .container {
    width: 70%;
    margin-left: 18vw;
}

.main-wrapper .general-inner h4 {
    font-size: calc(0.7rem + 1vw);
    font-weight: 700;
    margin-bottom: 30px;
}

.main-wrapper .general-inner .action-wrappper {
    background-color: #fff;
    padding: 30px;
    border-top: 2px solid #11E09D;
}

.main-wrapper .general-inner .action-wrappper h5 {
    color: #8CECFF;
    font-size: 14px;
    font-weight: 700;
}

.main-wrapper .general-inner .action-wrappper p {
    font-size: 12px;
}

.BLOCK-BTN {
    text-decoration: none;
    padding: 20px 40px;
    font-weight: 600;
    background-color: #11E09D;
    color: white;
    display: block;
    text-align: center;
}

.BLOCK-BTN:hover {
    color: white;
}

.general-inner .accordion-button:not(.collapsed) {
    color: unset;
    background-color: unset;
}

.general-inner .accordion-button:focus {
    box-shadow: none;
}

.general-inner .accordion-button {
    border: none;
    padding: 5px;
}

.general-inner .accordion-item {
    border: none;
}

.general-inner .accordin-content li {
    font-size: 13px;
    margin-right: 30px;
}

.main-wrapper .general-footer .paricipate-wrapper {
    background-color: #fff;
    padding: 30px;
}

.main-wrapper .general-footer .profile-detail-wrapper {
    background-color: #fff;
    padding: 20px;
}

.main-wrapper .general-footer .profile-detail-wrapper ul {
    list-style: none;
    padding: 0;
}

.main-wrapper .general-footer .profile-detail-wrapper ul li {
    border-bottom: 1px solid rgb(148, 148, 148);
    padding: 20px 0;
}

.main-wrapper .general-footer .profile-detail-wrapper .number {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
}

.main-wrapper .general-footer .profile-detail-wrapper p {
    font-size: 12px;
    margin-right: 20px;
    color: rgb(112, 112, 112);
}

.main-wrapper .general-footer .invite-link ul {
    padding: 0;
    display: flex;
    list-style: none;
}

.main-wrapper .general-footer .invite-link ul li {
    margin-right: 5px;
}

.main-wrapper .general-footer .share-wrapper {
    background-color: #fff;
    padding: 20px;
}

.main-wrapper .general-footer .invite-link .shareit {
    width: 50px;
    height: 50px;
}


/* CONTENT */


/* // Small devices (landscape phones, 576px and up) */


/* @media (min-width: 576px) {
    ...
}
*/


/* // Medium devices (tablets, 768px and up) */


/* @media (min-width: px) and (max-width: 992px) {
    .main-wrapper .container {
        width: 95%;
        margin: 0 auto;
    }
} */


/* // Large devices (desktops, 992px and up) */

@media (max-width: 1200px) {
    .sidebar-wrapper .sidebar-content {
        display: none;
    }
    .main-wrapper .container {
        width: 95%;
        margin: 0 auto;
    }
    .main-wrapper .general-footer .profile-detail-wrapper p {
        margin-right: 10px;
        font-size: 13px;
    }
}


/* // X-Large devices (large desktops, 1200px and up) */


/* @media (min-width: 1200px) {} */


/* // XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    ...
} */


/* general */


/* general */